.circle_rectangle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;    
}

.circle{
    width: 40px;
    height: 22px;
    background-color: #254572;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    position: relative;
    bottom: 10px;
    border: 2px solid #1D3557;
    border-top: 2px solid #254572;
    user-select: none;
    z-index: 2;
    color: #dfdfdf;
    & p{
    font-family: 'Anton', sans-serif;
    font-size: 38px;
    color: #1D3557;
    line-height: 0px;
    margin-left: 6px;
    }
}

.rectangle{
    width: 140px;
    height: 50px;
    border: #1D3557 2px solid;
    padding: 4px;
    background-color: #254572;
    border-radius: 6px 6px 6px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 8px;
    color: #dfdfdf;
    font-size: 12px;
    & hr{
        width: 110px;
        height: 1px;
        margin: 4px 0 2px 0;
    }
}

// .purchaseBtnContainer{
//     &:hover .circle{
//         background-color: #1D3557;
//         border-top: 2px solid #1D3557;
//         cursor: pointer;
//     }

//     &:hover .rectangle{
//         background-color: #1D3557;
//         cursor: pointer;
//     }
// }