.rollResult{
    color: #1D3557;
    border: #1D3557 2px solid;
    padding: 4px;
    // background-color: #c7c7c7;
    background-color: #669bbc;
    user-select: none;
    width: 114px;
    border-radius: 6px;
}

.countSpan{
    color: darkred;
}