.nextTurnButton{
    width: 80px;
    height: 80px;
    &:hover{
        width: 77px;
        height: 77px;
        cursor: pointer;        
    }
    &:hover polygon{
        fill:#1f406d;
    }
}

.nextTurnButtonContainer{
    height: 75px;
    margin-top: 4px;
    margin-bottom: 4px;
}