.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.diceContainer{
    display: flex;
    height: 80px;
}

.dicesContainer{
    height: 150px;
    width: 500px;
    // border: #1D3557 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.rollBtn{
    width: 104px;
    height: 40px;
    background-color: #1D3557;
    color: #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 4px;
    // margin-bottom: 20px;
    &:hover{
        cursor: pointer;
        // background-color: #2b4f81
        background-color: #1f406d
    }
}

.rollResult{
    color: #1D3557;
    border: #1D3557 2px solid;
    padding: 4px;
    // background-color: #c7c7c7;
    background-color: #669bbc;
    user-select: none;
    width: 104px;
}

.countSpan{
    color: darkred;
}

//------------ Подложка -------------
.podlozhka{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kvadrat{
    width: 500px;
    height: 150px;
    background-color: #669bbc;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #1D3557;
}
.circle{
    margin-top: 20px;
    width: 140px;
    height: 70px;
    background-color: #669bbc;
    border-radius:  50% 50% 0 0 / 100% 100% 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    position: relative;
    top: 2px;
    border: 2px solid #1D3557;
    border-bottom: 2px solid #669bbc;
    
}

.countSpanCircle{
    font-size: 40px;
    color: #8b0000;
    line-height: 0px;
}

.dragon_circle_knight{
    display: flex;
    align-items: flex-end;
}

.result_circle{
    display: flex;
    flex-direction: column;
    align-items: center;
}