.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin-top: 20px;
    height: 100vh;

}

.diceContainer{
    display: flex;
    height: 80px;
}

.rollBtn{
    width: 100px;
    height: 40px;
    background-color: #1D3557;
    color: #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 4px;
    &:hover{
        cursor: pointer;
        // background-color: #2b4f81
        background-color: #1f406d
    }
}